@use "~@metmuseum/marble/src/base/base";

.object-search__input {
	border: 2px solid base.$color-black;
	border-radius: 50px;
	box-sizing: border-box;
	color: base.$color-black;
	flex-basis: 100%;
	min-width: 0;
	padding: base.$spacing-micro;

	&:focus {
		outline: none;
		box-shadow: 0px 0px 10px base.$color-grey-500;
	}
}
