.image-input__container {
	width: 140px;
	transition: all 0.3s;
}
.image-input__input {
	display: none;
}

.image-inpute__image {
	display: none;
}

.image-input__label.button {
	border-radius: 50px;
}


@media (orientation: portrait) {
	.image-input__container {
		.object-search__input:focus ~ & {
			width: 40px;
			.image-input__label.button {
				font-size: 0;
				&:after {
					content: "📷";
					font-size: $textsize-m;
				}
			}
		}
	}
}